h1 {
    text-align: center;
}

#root {
    background-color: rgba(191, 191, 191, 0.712);
    max-width: 700px;
    margin: auto;
    border-radius: 20px;
    border-style: groove;
    border-width: 30px;
    padding: 10px;
}